.header {
    width:100%;
    height:auto;
}

.header-background-image{
	background-size: 950px;
    width:100%;
    height:250px;
    background-image: url("../images/header-background.jpg");
    border-top: 4px solid #6c6c6c;
    border-bottom: 4px solid #6c6c6c;
}

.header-caption{
    width:100%;
    height:80px;
    font-size: 55px;
    text-shadow: 2px 2px 2px #6c6c6c;
    text-align: center;
    color: #6c6c6c;
    border-radius: 0px;
    border: 0px solid #6c6c6c;
    background-color: #b7f5a4;
}