.product-wrapper{
	height: 560px;
    width: 100%;
    border: 0px solid red;
}

.product-container{
	height: 552px;
    width: 572px;
    border: 0px solid green;
    margin-left: 186px;
}

.product-outer-div{
	height: 150px;
    width: 158px;
    border: 5px solid #6c6c6c;
    border-radius: 5px;
    margin: 5px;
    margin-top: 19px;
    margin-left: 15px;
    background-color: #ffffff;
    float: left;
    box-shadow: 0 0 5px #ffffff;
}

.product-inner-div{
	height: 136px;
    width: 144px;
    border: 2px solid #6c6c6c;
    border-radius: 5px;
    margin: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.product-image{
	height: 134px;
    width: 142px;
    border: 0px solid green;
}

.product-info-slider{
	width: 45px;
    height: 148px;
    float: right;
    border: 1px solid #c6c6c6;
    margin-top: -150px;
    z-index: 25;
    background-color: #585757;
    opacity: 0.6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: none;
}

.product-info{
	border: 3px solid #6c6c6c;
	width: 15px;
    height: 15px;
    margin: 15px;
    margin-left: 13px;
    margin-top: 13px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 5px #ffffff;
    
}




