.payment-list{
	width:100%;
}

.payment-list > thead > tr > th{
	color:#6c6c6c;
	background-color: #b7f5a4;
	font-weight: bold;
	border: 2px solid #6c6c6c;
	text-align: center;
	font-size: 15px;
	border-radius: 3px;
	
}

.payment-list > tbody > tr > td{
	color:#6c6c6c;
	border: 1px solid #6c6c6c;
	font-size: 15px;
	text-align: left;
	border-radius: 3px;
	min-height:50px;
}

.payment-list > tbody > tr > td > a{
	text-decoration:none;
	color:#6c6c6c;
	cursor: pointer;
}

.payment-list > tbody > tr > td > a:hover{
	text-decoration:underline;
	font-weight:bold;
	color:#6c6c6c;
}

.table-list-container{
	color:#000000; 
	border: 4px solid #b7f5a4; 
	background-color:#ffffff; 
	overflow-y:auto; 
	min-height:550px;
	height: 550px; 
	opacity: 0.90; 
	text-indent:10px;
	margin-top:2px;
}